p Hi #{@user.name},
| You are receiving this email because you have requested a password reset for your Lessoner account.
p Link will expire four hours from password reset request.
p To reset your password please click this link:

href="ENV['FRONTEND_URL']/reset_password?token=#{@user.password_reset_token}"

p If you did not request your password to be reset please ignore this email and your password will stay as it is.