h1 = @lesson.title
player.plyr__video-embed
  iframe allow="autoplay" allowfullscreen="" allowtransparency="" src==@lesson.video_link
p = @lesson.description
ul = link_to "Edit", edit_lesson_path(@lesson)
ul = link_to "Back", lessons_path
