.hero {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_text-wrapper {
    text-align: center;

    & h1 {
      font-size: 32px;
    }
  }

  &_button-wrapper a {
      margin: 0 12px
  }
}
