@import "bootstrap";
@import "_hero";

// body
body {
  background-color: rgb(248, 249, 250);
}

// links
.custom-breadcrumbs a {
  text-decoration: none;
}

// titles
h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

// forms
.standart-form {
  width: 400px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 24px;
  background: #ffffff;
}

// icons
i svg {
  fill: currentColor;
  margin: 0 4px 4px;
}

// toast
@keyframes slide {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.toast-container {
  animation: 0.5s ease-in-out 0s 1 slide;
}

.toast {
  display: block !important;
}

.toast-header {
  justify-content: space-between;
  background: none;
}

// margins
.custom-mr-12 {
  margin-right: 12px;
}

// lists
.custom-list-group {
  width: 400px;
}

// pagination
.custom-pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 8px;
}