p Привет
= @resource.email

p Кто-то хочет изменить ваш пароль.

p = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

p Если это были не вы, сочувствую(.
p Иначе перейдите по ссылке выше для изменения пароля.
